ul.top-tabs-action-nav
  li.action-nav
    a.btn(data-bind='click: hideForm')
      span &times;
  li.action-nav
    a.btn.green(data-bind='click: submitSaveForm')
      =t('save')

h1( data-bind='text: name().full' )

form.ioco-form.ioco-user-form( data-bind='submit: saveForm' )

  .span6.pull-right
    fieldset(style='margin-left: 50px')
      legend
        a.pull-right.btn(href="#", style='margin: 0 0 0 20px', data-bind='click: addGroup')
          span.icn.icn-plus.pull-right
        span=t('user.groups')

      div( data-bind='foreach: groups')
        span.group-lbl.lbl
          span.title(data-bind='text: $data')
          span.remove-group(data-bind='click: $parent.removeGroup') &times;

    fieldset(style='margin-left: 50px')
      legend=t('user.options')

      p
        input(type='checkbox', data-bind='checked: suspended')
        span.desc=t('user.suspended')


  p.span6
    label=t('user.nick')
    br
    input(type='text', data-bind='value: name().nick')
  table.span6
    tr
      td
        label=t('user.firstname')
      td
        label=t('user.lastname')
    tr
      td
        input(type='text', data-bind='value: name().first')
      td
        input(type='text', data-bind='value: name().last')

  p.span6
    label=t('user.email')
    br
    input(type='text', data-bind='value: email')

  p.span6
    input(type='checkbox', data-bind="checked: sendConfirmationEmail")
    label=t('user.send_confirmation_email')